<h2 class="subhead navbar text-center alert"><%= t(:listing_products) %></h2>

<table class="table">
  <thead>
    <tr>
      <th class="text-center"><%= t(:bar_code)%></th>
      <th class="text-center"><%= t(:description)%></th>
      <th class="text-center"><%= t(:unit)%></th>
      <th class="text-center"><%= t(:category)%></th>
      <th colspan="3" class="text-center"><%= t(:action)%></th>
    </tr>
  </thead>

  <tbody class="text-center">
    <% @products.each do |product| %>
      <tr>
        <td><%= product.bar_code %></td>
        <td><%= product.description %></td>
        <td><%= product.unit.description %> (<%= product.unit.acronym %>)</td>
        <td><%= product.category.name %></td>
        <td><%= link_to '', product, class: 'btn btn-default glyphicon glyphicon-th-list'%></td>
        <td><%= link_to '', edit_product_path(product), class: 'btn btn-default glyphicon glyphicon-edit' %></td>
        <td><%= link_to '', product, method: :delete, data: { confirm: t(:confirm_destroy) }, class: 'btn btn-default glyphicon glyphicon-trash'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:new_product), new_product_path, class: 'btn btn-primary' %>
<%= link_to t(:back), root_path, class: 'btn btn-default back2' %>
<br><br><br>