<h2 class="subhead navbar text-center alert"><%= t(:details) %></h2>

<div class="scheduler-border">

    <p>
      <strong><%= t(:bar_code)%>:</strong>
      <%= @product.bar_code %>
    </p>

    <p>
      <strong><%= t(:description)%>:</strong>
      <%= @product.description %>
    </p>

    <p>
      <strong><%= t(:unit)%>:</strong>
      <%= @product.unit.description %> (<%= @product.unit.acronym %>)
    </p>

    <p>
      <strong><%= t(:category)%>:</strong>
      <%= @product.category.name %>
    </p>

</div>

<%= link_to t(:edit), edit_product_path(@product), class: 'btn btn-success' %>
<%= link_to t(:back), products_path, class: 'btn btn-default back2' %>
<br><br><br>