<h2 class="subhead navbar text-center alert"><%= t(:listing_suppliers) %></h2>
<table class="table">
  <thead>
    <tr>
      <th class="text-center"><%=t(:name_suppliers)%></th>
      <th class="text-center"><%=t(:cnpj)%></th>
      <th colspan="3"  class="text-center"><%= t(:action)%></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.name %></td>
        <td><%= supplier.cnpj %></td>
        <td><%= link_to 'Detalhar', supplier, class: 'btn btn-info' %></td>
        <td><%= link_to 'Editar', edit_supplier_path(supplier), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Excluir', supplier, method: :delete, data: { confirm: t(:confirm_destroy) }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:new_supplier), new_supplier_path, class: 'btn btn-primary' %>
<%= link_to t(:back), root_path, class: 'btn btn-default back2' %>
<br><br><br>