<h2 class="subhead navbar text-center alert"><%= t(:details) %></h2>

<div class="scheduler-border">
<p>
  <strong><%= t(:name_suppliers)%>:</strong>
  <%= @supplier.name %>
</p>

<p>
  <strong><%= t(:cnpj)%>:</strong>
  <%= @supplier.cnpj %>
</p>
</div>
<%= link_to t(:edit), edit_supplier_path(@supplier), class: 'btn btn-success' %>
<%= link_to t(:back), suppliers_path, class: 'btn btn-default back2' %>
